<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!--Login-->
          <div class="form-group">
            <label>Login</label>
            <input type="text" formControlName="login" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.login.errors }" />
            <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
              <div *ngIf="f.login.errors.required">Campo obrigatório</div>
            </div>
          </div>

          <!--Senha-->
          <div class="form-group">
            <label>Senha</label>
            <input type="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Campo obrigatório</div>
              <div *ngIf="f.password.errors.minlength">Senha deve possuir o minimo de 6 caracteres</div>
            </div>
          </div>

          <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Campo obrigatório</div>
              <div *ngIf="f.email.errors.email">Email deve conter um endereço válido</div>
            </div>
          </div>

          <div class="form-group">
            <label>Tipo de permisão</label>
            <div class="ui-g" style="width:250px;margin-bottom:10px">
                <div class="ui-g-12"><p-radioButton name="group2" value="1" label="Administrador" [(ngModel)]="permissao" inputId="preopt1" [ngModelOptions]="{standalone: true}"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="group2" value="2" label="Básico" [(ngModel)]="permissao" inputId="preopt2" [ngModelOptions]="{standalone: true}"></p-radioButton></div>
            </div>
            <!-- Selecionado {{permissao||'none'}} -->
          </div>
          
          <div class="form-group">
            <button class="btn btn-primary">Salvar</button>
          </div>
        </form>
          <button class="btn btn-primary" (click)="Voltar()">Voltar</button>
      </div>
    </div>
  </div>
</div>